body {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: #c3c8ca;
  font-family: "Poppins", sans-serif;
}

.card {
  width: 300px;
  height: 600px;
  background-color: rgb(242, 250, 250, 0.3);
  border: 1px solid #f2f4f7;
  border-radius: 10px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
.top-menu h3 {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}

.battery {
  display: flex;
  justify-content: center;
  align-items: center;
}
.battery span {
  font-size: 15px;
  font-weight: 600;
  margin-right: 3px;
}
.battery img {
  width: 50px;
}

.analog {
  overflow: hidden;
  position: relative;
  width: 300px;
  height: 350px;
  border-radius: 100%;
  margin-top: -30px;
}

.minute,
.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.4);
  z-index: 1;
}
.minute {
  position: absolute;
  width: 3px;
  height: 120px;
  top: -34%;
  left: 0;
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.4);
  transform: rotate(90deg);
}
.second {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #ff4b3e;
  transform-origin: bottom center;
  transform: rotate(230deg);
  box-shadow: 0 0 10px 0 rgb(0, 0, 0, 0.4);
  z-index: 1;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  border: 2px solid white;
  background: white;
  z-index: 1;
}

.digital {
  display: flex;
  align-items: center;
  justify-content: center;
}
.digital span {
  padding: 5px;
  font-size: 30px;
  letter-spacing: 2px;
}
.digital p {
  font-size: 20px;
  font-weight: 600;
}
.clock p {
  margin: 0;
  font-size: 15px;
  text-align: center;
}
